.list-centered {
    display: inline-block;
    text-align: left;
}

.text-custom {
    color: black;
}

.win {
    font-weight: bold;
}

.hash-form label {
    display: inline;
}

.hash-form input {
    display: inline;
    width: 550px;
    height: 26px;
    padding: 0 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.highlight pre {
    background-color: white;
}

.gas-note {
    margin-top: -20px;
}

.bg-custom {
    background-color: #f9f9f9;
}
